<div id="<%= dom_id video %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= video.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= video.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Video:</strong>
    <%=video_tag video.video_url, controls: true %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Video url:</strong>
    <% if video.cover.attached? %>
      <%= image_tag video.cover, alt: "Cover image", class: "rounded-lg shadow-md w-auto h-20" %>
    <% else %>
      <span>No cover image available</span>
    <% end %>
  </p>

</div>
